<%- include('../includes/header.ejs', {titulo: 'Lista de Categorias' }) %>

    <main>
        <h2 class="text-3xl font-semibold bg-[#7A552F] text-[#DCCFC2] py-4 shadow text-center"
    style="text-shadow: 2px 2px 3px #3B2A20;">Lista de Categoria
        </h2>
        <div class="flex justify-center mt-10">
            <a href="/categorias/novo" class="btn btn-principal flex items-center justify-center w-40">Adicionar Categoria</a>
        </div>
        

        <!--Criando form de pesquisa e ordenação-->
        <form action="/categorias/listar" method="GET" class="form form-consulta">
            <input type="text" name="busca" placeholder="Buscar por Categoria ">
            <select name="ordem">
                <option value="nome_categoria">Ordenar por Categoria</option>
            </select>
            <button type="submit" class="btn btn-principal">Buscar</button>
        </form>

        <div class="flex justify-center">
            <table class="dados-table ">
                <thead>
                    <tr class="bg-grey-400">
                        <th class="p-12px 15px border-3px solid text-left text-center ">Nome Categoria</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let categoria of dadosCategorias) { %>
                        <tr>
                            <td class="m-20" >
                                <%= categoria.nome_categoria %>
                            </td>
                            <td class="acoes">
                                <a href="/categorias/editar/<%= categoria.id_categoria %>"
                                    class="btn btn-edit">Editar</a>
                                <!--EXCLUIR CATEGORIA-->
                                <form action="/categorias/excluir/<%= categoria.id_categoria %>" method="POST">
                                    <button type="submit" class="btn btn-delete">Excluir</button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

    </main>

    <%- include('../includes/footer.ejs') %>