<%- include('../includes/header.ejs', {titulo: 'Lista de Produtos' }) %>

    <main>
        <h2> Lista de Produtos</h2>
        <a href="/produtos/novo" class="btn btn-principal">Adicionar Produto</a>

        <form action="/produtos/listar" method="GET" class="form form-consulta">
            <input type="text" name="busca" placeholder="Buscar por nome ou Categoria">
            <select name="ordem">
                <option value="nome_produto">Ordenando por nome</option>
                <option value="categoria desc">Ordenando por Categoria</option>
                <option value="formacao">Ordenar por Formação</option>
            </select>
            <button type="submit" class="btn btn-principal">Buscar</button>
        </form>

        <table class="dados-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Formações</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for (let professor of dadosProfessores){ %>
                    <tr>
                        <td>
                            <%= professor.nome_professor%>
                        </td>
                        <td>
                            <%= professor.telefone%>
                        </td>
                        <td>
                            <%= professor.formacao%>
                        </td>
                        <td class="acoes">
                            <a href="/professores/editar/<%= professor.id_professor %>" class="btn btn-edit">Editar</a>
                            <form action="/professores/excluir/<%= professor.id_professor %>" method="post">
                                <button type="submit" class="btn btn-delete">Excluir</button>

                            </form>


                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </main>


    <%- include('../includes/footer.ejs') %>